/* цвет основного текста #212121 */
/* цвет в лого1 #000000*/
/* вторичный цвет текста  #2196F3*/
/* белый #FFFFFF */
/* цвет абзацев #757575 */
/* цвет контактов rgba(255, 255, 255, 0.6) */

:root {
	--primary-text-color: #212121;
	--title-text-color: #FFFFFF;
	--accent-color: #2196F3;
	--paragraph-text-color: #757575;
}

/* body */
body {
	color: var(--primary-text-color);
}

.list {
	list-style: none;
}

/* logo */

.logo {
	text-decoration: none;
}

.web {
	color: var(--accent-color);
}

.studio {
	color: #000000;
}

/* Site nav */
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

.site-contacts .link {
	color: var(--paragraph-text-color);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
		color: var(--accent-color);
}

/* main */
.hero-title {
	color: var(--title-text-color);
	background-color: #2F303A;
}

/* button */
.hero-button {
	color: var(--title-text-color);
	background-color: var(--accent-color);
}

.section-title {
	color: var(--primary-text-color);
}

.feature-list .paragraph {
	color: var(--paragraph-text-color);
}

/* our team */
.section.team {
	background-color: #F5F4FA;
}

/* footer */
.floor {
	background-color: #2F303A;
}

.studio-footer {
	color: var(--title-text-color);
}

.address-list .address-street {
	color: var(--title-text-color);
}

.address-list .link {
	color: rgba(255, 255, 255, 0.6);
}
